.add-todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 10px 10px 10px;
    width: 70%;
}

.add-todo-item input {
    margin: 16px 0 16px 30px;
    height: 25px;
    width: 200px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
}

.add-todo-item input:focus {
    outline: none;
}

.add-todo-item .add-icon {
    width: 30px;
    height: auto;
    margin-left: auto;
    margin-right: -5px;
    cursor: pointer;
}