.todo-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 70%;
    border-bottom: 1px solid #cecece;
}

.todo-item p {
    margin-left: 1em;
}

.todo-item .completed {
    color: #cdcdcd;
    text-decoration: line-through;
}

.todo-item .trash-can {
    width: 18px;
    height: auto;
    margin-left: auto;
    cursor: pointer;
}